.at-glance {
  --trigger-size: 2.4rem;
  position: absolute;
  cursor: pointer;
  /* opacity: 0.33; */
  transition: opacity 150ms;
  inset-block-end: 1rem;
  inset-inline-end: 1.5rem;
  z-index: 5;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--txt-x-small);
}

.at-glance:hover {
  opacity: 1;
}

.at-glance__icon {
  --size: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  font-size: var(--txt-medium);
  block-size: var(--trigger-size);
  place-items: center;
  inline-size: var(--trigger-size);
}

.at-glance__dial {
  transform-origin: 50% 57%;
  transition: transform 0.3s ease;
}

.at-glance[data-level='0'] .at-glance__dial {
  transform: rotate(0deg);
}
.at-glance[data-level='1'] .at-glance__dial {
  transform: rotate(45deg);
}
.at-glance[data-level='2'] .at-glance__dial {
  transform: rotate(90deg);
}
.at-glance[data-level='3'] .at-glance__dial {
  transform: rotate(135deg);
}
.at-glance[data-level='4'] .at-glance__dial {
  transform: rotate(180deg);
}
