.schedule-day {
  display: flex;
  flex-direction: column;
  border-block-start: 1px solid var(--color-uncolor-30);
  padding-block-start: 1rem;
}
.schedule-day:first-child {
  padding-block-start: 0;
  border-block-start: none;
}

.schedule-day__date {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 0.8em;
  text-transform: uppercase;
}

.schedule-day__date h3 {
  font-weight: 400;
}

.schedule-day__event {
  display: flex;
  gap: 0;
  align-items: flex-start;
  flex-direction: column;
  padding-inline-start: 1.4em;
}

.schedule-day__event .avatar-group {
  display: inline-flex;
}

.schedule-day__event .avatar-group .avatar {
  block-size: 1.21rem;
  inline-size: 1.21rem;
}

.schedule-day__time-range {
  color: var(--color-uncolor);
}

.schedule-day__mini-date {
  display: inline-flex;
  inline-size: 1.21em;
  block-size: 1.21em;
  margin-block-start: -0.245em;
  position: relative;
}

.schedule-day__mini-date:before {
  content: '';
  position: absolute;
  inline-size: 1.428em;
  block-size: 1.428em;
  inset-inline-start: -1.65em;
  inset-block-start: -0.125em;
  display: block;
  background: rgba(0, 0, 0, 0) url(../../icons/calendar.svg) center center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  filter: invert(86%) sepia(6%) saturate(5417%) hue-rotate(34deg) brightness(104%) contrast(53%);
}
